#Header{
    background-color: blanchedalmond;
    padding: 20px;
    border: 1px;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
}
#Container{
    color:gray;
    font-size:20px;
    border: 5px  solid black;
    border-radius: 50px;
    text-align: center;
    margin: 50px;
    padding: 15px;

}